.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-under-logo {
  margin-top: 10vmin;
  text-align: center;
  display:flex;
  width: 100vw;
}
.App-under-logo td {
  background-color: #61dafb;
  width: 33.33%;
}
.App-under-logo td:nth-child(2) {
  border-radius: 50%;
  padding-top: 70px;
}
.App-under-logo button {
  font-size: calc(30px + 2vmin);
  border: 3px solid whitesmoke;
  background-color: #282c34;
  color: whitesmoke;
  border-radius: 15px;
  padding: 2px 5px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header h3 {
  margin-left: 5vw;
}
.App-header a {
  color: blue;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
