.optionsDiv {
    margin-left: 1vw;
    margin-top: 1vh;
    background-color: blue;
    color: white;
    font-size: 20px;
    width: 97vw;
    padding: 2px 3px;
    border: 1px solid blue;
    border-radius: 10px;
    text-align: left;
}
/* optionsCheckbox:
    Main code taken from https://medium.com/claritydesignsystem/pure-css-accessible-checkboxes-and-radios-buttons-54063e759bb3
    When checked use <div className="optionsCheckbox On" onClick={some code to toggle whether checked}><label>Some text</label></div> 
    When unchecked use  <div className="optionsCheckbox" onClick={some code to toggle whether checked}><label>Some text</label></div> 
*/
.optionsCheckbox {
    line-height: 24px;
    font-size: 16px;
    box-sizing: border-box;
}
.optionsCheckbox label {
    cursor: pointer;
    position: relative;
    display: inline-block;
    /* 16px of the checkbox and 6px between it and text*/
    padding-left: 22px;
}
.optionsCheckbox label::before,
.optionsCheckbox label::after {
    position: absolute;
    content: "";
    display: inline-block;
}
/* The box */
.optionsCheckbox label::before {
    height: 16px;
    width: 16px;
    border: 1px solid;
    left: 0px;
    top: 3px;
}
/* The check mark (<div className="optionsCheckbox On">) */
.optionsCheckbox.On label::after {
    height: 5px;
    width: 9px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-45deg);
    left: 4px;
    top: 7px;
}
.optionsRadio {
    line-height: 24px;
    font-size: 16px;
    box-sizing: border-box;
    margin-left: 2px;
    margin-right: 2px;
}
.optionsRadio label {
    cursor: pointer;
    position: relative;
    display: inline-block;
    /* 16px of the radio circle and 6px between it and text*/
    padding-left: 22px;
}
.optionsRadio label::before,
.optionsRadio label::after {
    position: absolute;
    content: "";
    display: inline-block;
}
/* The circle */
.optionsRadio label::before {
    height: 16px;
    width: 16px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: blue;
    left: 0px;
    top: 3px;
}
/* The circle filler (<div className="optionsRadio On"> ... use <span> instead of <div> to make them side by side) */
.optionsRadio.On label::before {
    background-color: white;
}
/* The label text */
.optionsRadio label {
    font-size: calc(10px + 2vw);
    margin-bottom: 2vw; /* make room for bigger fonts so they don't overlap from row to row */
}

.emojiDiv {
    font-size: calc(10px + 2vw);
    text-align: center;
}

.lenDiv {
    min-width: 80vw;
    font-size: calc(10px + 2vw);
    background-color: blue;
    color: whitesmoke;
    text-align: center;
    margin-bottom: 2vh;
}
.lenDiv span {
    padding: 1vh 2.5vw;
    margin-right: 3vw;
}
.lenSelected {
    background-color: whitesmoke;
    color: black;
}
.lenUnselected {
    background-color: black;
    color: whitesmoke;
}
.lenUnselected:hover {
    cursor: pointer;
}

.startPuzzleDiv {
    border: 1px solid black;
    border-radius: 10px;
    background-color: cyan;
    margin-top: 3vh;
    padding: 3vh 3vw;
    text-align: center;
}
.startPuzzleDiv button {
    font-size: calc(10px + 2vw);
}
