.game {
    margin: 5px;
    padding: 2px;
    background-color: blueviolet;
    width: fit-content;
    color: white;
}
.Outertable {
    border-style: none;
    vertical-align: top;
}
.AlignCenter {
    text-align: center;
}
.AlignLeft {
    text-align: left;
}
.MarginLeft {
    margin-left: 5px;
}
.wmEasyModeLetter {
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid black;
    text-align: center;
    padding: 3px 8px;
    font-size: 20px;
}
.wmEasyModeLetter.small {
    width: 40px;
    height: 40px;
}
.wmEasyModeLetter.normal {
    width: 45px;
    height: 45px;
}
.wmCorrectLetterCorrectPosition {
    background-color: greenyellow;
    color: black;
    font-weight: bold;
}
.wmCorrectLetterWrongPosition {
    background-color: cornflowerblue;
    color: black;
}
.wmWrongLetter {
    background-color: darkgrey;
    color: black;
    text-transform: lowercase;
}
.wmWordUnderKeyboard {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    letter-spacing: 2px;
    text-align: center;
    border: 1px solid white;
    background-color: blue;
    color: white;
}
