.Outertable {
    border-style: none;
    vertical-align: top;
}
.AlignCenter {
    text-align: center;
}
.AlignLeft {
    text-align: left;
}
.wmEasyModeLetter {
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid white;
    text-align: center;
    padding: 5px 10px;
    font-size: larger;
}
.wmEasyModeLetter.small {
    width: 40px;
    height: 40px;
}
.wmEasyModeLetter.normal {
    width: 45px;
    height: 45px;
}
.wmCorrectLetterCorrectPosition {
    background-color: greenyellow;
    color: black !important;
}
.wmCorrectLetterWrongPosition {
    background-color: gold;
    color: black !important;
}
.wmWrongLetter {
    background-color: white;
    color: black !important;
}
.wmWordUnderKeyboard {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    letter-spacing: 2px;
    text-align: center;
    border: 1px solid white;
    background-color: blue;
    color: white;
}
